src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="3a4752fc-6f3f-4bfe-b591-0b82cf0d0a86" file="poc-kerberos.yaml" />
	<db:config name="db-config" doc:name="Database Config" doc:id="6e91a3ea-5a61-45d9-a58d-912269798452" >
		<db:mssql-connection host="${nmls.host}" port="${nmls.port}" user="${nmls.user}" password="${nmls.password}">
			<db:pooling-profile minPoolSize="1"/>
			<db:connection-properties >
				<db:connection-property key="integratedSecurity" value="true" />
				<db:connection-property key="authenticationScheme" value="JavaKerberos" />
				<db:connection-property key="databaseName" value="${nmls.database}" />
			</db:connection-properties>
		</db:mssql-connection>
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de949c7e-441e-44c3-bc4b-03f68618a4be" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="kerberos-database-example" doc:id="d420633e-e772-4116-80e2-0c1a805cf183" >
		<http:listener doc:name="Listener" doc:id="9ff600d8-ce00-47ea-89bb-2697fcbc8160" config-ref="HTTP_Listener_config" path="/database"/>
		<db:select doc:name="Database Query Using Kerberos" doc:id="783bcd4b-c1b0-459b-b882-72296450f660" config-ref="db-config">
			<db:sql ><![CDATA[${nmls.query}]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform payload to JSON" doc:id="25690456-b700-4390-8c45-fe57c427db36" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="kerberos-https-proxy-example" doc:id="1c3ce9d8-f637-4f76-9ce6-55a7e85e74d4" >
		<http:listener doc:name="Listener" doc:id="d4e3b06d-d08d-456c-a869-8d9ffd20bbe9" config-ref="HTTP_Listener_config" path="/http-proxy"/>
		<java:invoke-static doc:name="Invoke KerberosHttpURLConnection" doc:id="0d1b4086-074e-4be2-a0f4-0241f3dae6b0" class="com.newrez.kerberos.KerberosHttpURLConnection" method="connect(String, String, String, String, String, String, Map)">
			<java:args ><![CDATA[#[{
	context: 'http-client',
	username: p('onbase.username'),
	password: p('onbase.password'),
	url: p('onbase.url') ++ attributes.maskedRequestPath,
	method: attributes.method,
	body: payload,
	properties: {
		'Accept': ['application/json'],
		'Content-Type': ['application/json'],
		'x-license-type': ['Concurrent']
	}
}]]]></java:args>
		</java:invoke-static>
		<set-variable value="#[payload.responseCode]" doc:name="httpStatus" doc:id="bf7836d5-c1c9-432e-af60-c96b3ebdbb2f" variableName="httpStatus"/>
		<ee:transform doc:name="Transform payload to JSON" doc:id="54303d19-bf1c-4dd0-a773-7b857bbbed49" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if (vars.httpStatus as Number <= 299)read(payload.inputStream, payload.contentType)
else read(payload.errorStream, payload.contentType)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
